.container {
    margin: 20px;
    display: grid;
    height: 500px;
    /* grid-template-columns: 200px 5rem 20% auto; */
    /* creating 4 columns with 25% width */
    grid-template-columns: repeat(4,[col-start] 25% [col-end]);
    grid-template-rows: [row-1-start] 5rem [row-1-end row-2-start] minmax(10px, auto) [row-2-end row-3-start] 100px [row-3-end];
    /* grid-column-gap: 20px;
    grid-row-gap: 10px; */
    grid-gap: 10px 20px;
    grid-template-areas: 'header header header header' 
    'side side main main'
    'footer footer footer footer';
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
    grid-column: col-start 2 / col-end 2;
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    /* grid-column-start: 1;
    grid-column-end: -1; */
    /* short hand */
    grid-column: 1 / -1;
    /* grid-row-start: row-2-start;
    grid-row-end: span 1; */
    grid-row: row-2-start / span 1;
    z-index: 10;
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    /* grid-column-start: 2; */
    /* span 2 tells to end after it occupies two cells */
    /* grid-column-end: span 3;
    grid-row-start: row-1-start;
    grid-row-end: row-2-end; */
    /* shorthand */
    /* grid-area: row-1-start / 2 / row-2-end / span3; */
    grid-area: header;
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
}